
{% extends "wrapper.html" %}
{% block content %}        
            <div class = "row ">
                <div class = "col-2"></div>
                <div class="col-10">
                    <button class="btn btn-outline-primary" >Create new submission <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <ul class="list-group">
                        <li class="list-group-item">Users</li>
                        <li class="list-group-item active">Submission</li>
                      </ul>
                </div>
                <div class="col-10">
                    <table class="table table-striped">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Submission title</th>
                            <th scope="col">Submission link</th>
                            <th scope="col">Date created</th>
                            <th scope="col">Views</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Tesla Stock Price Still Makes No Sense</td>
                            <td><button type = "button" class = "btn btn-link">Link</button></td>
                            <td>3/2/2020</td>
                            <td>100</td>
                            <td>
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                    </li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>	
                                Coca-Cola European Partners makes $6.6B </td>
                            <td><button type = "button" class = "btn btn-link">Link</button></td>   
                            <td>3/2/2020</td>
                            <td>100</td>
                            <td>
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                    </li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td><button type = "button" class = "btn btn-link">Link</button></td>
                            <td>3/2/2020</td>
                            <td>100</td>
                            <td>
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                    </li>
                                </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
{% endblock %}         
    
        