<div class="comment row mt-3">
    <div class="col-1 pl-0 pr-0">
        <div class="votes">
            <div class="upvote"></div>
            <p class="mt-2 mb-2 badge badge-light">1</p>
            <div class="downvote"></div>
        </div>
    </div>
    <div class="col-11 pl-0">
        <span><a href="#">john</a> - <i>1 minutes ago</i></span>
        <p>Sit ipsam fugit nulla nihil ratione aut aut. Voluptatem harum nemo alias nam deleniti excepturi. Quaerat corporis enim ipsum vel fuga quo. In assumenda vel nesciunt eius voluptatem eum. </p>
        <span class="btn btn-sm btn-primary">reply</span>
        <span class="btn btn-sm btn-white">show replies</span>
        <form class="replyInput">
            <textarea class="form-control" placeholder="Remember to be civil..."></textarea>
            <br>
            <input class="btn btn-sm btn-primary" type="button" value="reply">
        </form>
    </div>
    <div class="replies ml-3">
        <div class="comment row mt-3">
            <div class="col-1 pl-0 pr-0">
                <div class="votes">
                    <div class="upvote"></div>
                    <p class="mt-2 mb-2 badge badge-light">1</p>
                    <div class="downvote"></div>
                </div>
            </div>
            <div class="col-11 pl-0">
                <span><a href="#">john</a> - <i>1 minutes ago</i></span>
                <p>Sit ipsam fugit nulla nihil ratione aut aut. Voluptatem harum nemo alias nam deleniti excepturi. Quaerat corporis enim ipsum vel fuga quo. In assumenda vel nesciunt eius voluptatem eum. </p>
                <span class="btn btn-sm btn-primary">reply</span>
            </div>
            <div class="replies">
            </div>
        </div>
    </div>
</div>