{% extends "wrapper.html" %}
{% block head %}
<script>
	window.storyId = '{{ storyId }}';
</script>
<script src="/javascripts/comment.js"></script>
<script src="/javascripts/submission.js"></script>
<script src="/javascripts/story.js"></script>
{% endblock %}
{% block content %}
<div class="row mt-3">
	<div class="col-md-2 order-md-0 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-muted">Watchlist</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">AAPL</li>
					<li class="list-group-item">MSFT</li>
					<li class="list-group-item">TSLA</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-8 order-first order-md-1 mb-4">
		<div class="card">
			<div class="card-body" id="story">
			</div>
		</div>
		<br>
		<div class="card">
			<div class="card-body">
				<form>
					<textarea class="form-control" id="comment-box" placeholder="Remember to be civil..."></textarea>
					<br>
					<input class="btn btn-sm btn-primary" id="comment-submit" type="button" value="reply">
				</form>
				<div id="comments"></div>
				<!-- {% include "comment.html" %} -->
			</div>
		</div>
		<br>
		<nav aria-label="Page navigation" class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-md-2 order-md-2 mb-4">
		<div class="card">
			<div class="card-body">
				<div class="progress">
					<div class="progress-bar progress-bar-placeholder" role="progressbar" title="Voting power"></div>
				</div>
				<br>
				<h5 class="card-title text-muted">Long</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-success">AAPL</li>
					<li class="list-group-item text-success">MSFT</li>
					<li class="list-group-item text-success">VT</li>
					<li class="list-group-item text-success">AMZN</li>
				</ul>
				<br>
				<h5 class="card-title text-muted">Short</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-danger">TSLA</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}