{% extends "wrapper.html" %}
{% block content %}
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-md-6 col-sm-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title"><small class="text-muted">Submit an Article</small></h3>
					<form>
						<div class="text-left">
							<label id="title"><b>Title: </b></label>
						</div>
						<input type="text" class="form-control" placeholder="Enter Title" name="title" required>
						<br>
						<div class="text-left">
							<label id="url"><b>URL: </b></label>
						</div>
						<input type="password" class="form-control" placeholder="Enter URL" name="url" required>
						<br>
						<div class="text-left">
							<label id="stock"><b>Stock: </b></label>
						</div>
						<input type="password" class="form-control" placeholder="Enter Stock" name="url" required>
						<br>
						<div class="d-flex justify-content-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="button" class="btn btn-link text-danger">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}