{% extends "wrapper.html" %}
{% block head %}
<script src="/javascripts/submission.js"></script>
<script src="/javascripts/listing.js"></script>
<script src="/javascripts/sidebars.js"></script>
<script src="/javascripts/investment.js"></script>
{% endblock %}
{% block content %}
<div class="row mt-3">
	<div class="col-md-2 order-md-0 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-muted">Watchlist</h5>
				<ul id="watchlist" class="list-group list-group-flush"></ul>
				<br>
				<button id="watch" class="btn btn-sm btn-primary">Watch</button>
			</div>
		</div>
	</div>
	<div class="col-md-8 order-first order-md-1 mb-4">
		<div class="card">
			<div class="card-body">
				<ul class="list-group list-group-flush" id="stories">
				</ul>
			</div>
		</div>
		<br>
		<nav aria-label="Page navigation" class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-md-2 order-md-2 mb-4">
		<div class="card">
			<div class="card-body">
				<div class="progress">
					<div class="progress-bar" id="power" role="progressbar" title="Voting power"></div>
				</div>
				<br>
				<button class="btn btn-success" id="buy">Buy</button>
				<button class="btn btn-danger" id="sell">Sell</button>
				<br class="mb-4">
				<h5 class="card-title text-muted">Long</h5>
				<ul id="long" class="list-group list-group-flush"></ul>
				<br>
				<h5 class="card-title text-muted">Short</h5>
				<ul id="short" class="list-group list-group-flush"></ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}