{% extends "wrapper.html" %}
{% block head %}
<script src="/javascripts/comment.js"></script>
<script src="/javascripts/submission.js"></script>
<script src="/javascripts/story.js"></script>
<script src="/javascripts/sidebars.js"></script>
{% endblock %}
{% block content %}
<div class="row mt-3">
	<div class="col-md-2 order-md-0 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-muted">Watchlist</h5>
				<ul id="watchlist" class="list-group list-group-flush"></ul>
			</div>
		</div>
	</div>
	<div class="col-md-8 order-first order-md-1 mb-4">
		<div class="card">
			<div class="card-body" id="story">
			</div>
		</div>
		<br>
		<div class="card">
			<div class="card-body">
				<form>
					<textarea class="form-control" id="comment-box" placeholder="Remember to be civil..."></textarea>
					<br>
					<input class="btn btn-sm btn-primary" id="comment-submit" type="button" value="reply">
				</form>
				<div id="comments"></div>
				<!-- {% include "comment.html" %} -->
			</div>
		</div>
	</div>
	<div class="col-md-2 order-md-2 mb-4">
		<div class="card">
			<div class="card-body">
				<div class="card-title text-muted h4" id="balance"></div>
				<br>
				<h5 class="card-title text-muted">Long</h5>
				<ul id="long" class="list-group list-group-flush"></ul>
				<br>
				<h5 class="card-title text-muted">Short</h5>
				<ul id="short" class="list-group list-group-flush"></ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}